.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    
    align-items: flex-start;
    position: relative;
    text-align: center;
}

.about__data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__description:nth-of-type(1) {
    margin-bottom: 1rem;
}

.about__description {
    text-align: justify;
}

.about__image {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.about__image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doc_icon {
    margin-right: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .about__container {
      grid-template-columns: 720px;
      justify-content: center;
      row-gap: 1.875rem;
    }

    .about__data::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 49%;
        top: -20px;
    }

    .about__image {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 350px;
    }

    .about__data::before {
        left: 47%;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 576) {
    .about__container {
        grid-template-columns: 320px;
    }
}

@media screen and (max-width: 350) {
    .about__container {
        grid-template-columns: 1fr;
    }
}